@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Medium.woff2') format('woff2'),
        url('MadaniArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-ExtraBold.woff2') format('woff2'),
        url('MadaniArabic-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Light.woff2') format('woff2'),
        url('MadaniArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-ExtraLight.woff2') format('woff2'),
        url('MadaniArabic-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Black.woff2') format('woff2'),
        url('MadaniArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Bold.woff2') format('woff2'),
        url('MadaniArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-SemiBold.woff2') format('woff2'),
        url('MadaniArabic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Regular.woff2') format('woff2'),
        url('MadaniArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabicVariable';
    src: url('MadaniArabicVariable.woff2') format('woff2'),
        url('MadaniArabicVariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MadaniArabic';
    src: url('MadaniArabic-Thin.woff2') format('woff2'),
        url('MadaniArabic-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

