*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:active,
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* @font-face {
  font-family: "MadaniArabic";
  src: url('/assets/fonts/MADANI-ARABIC-REGULAR.ttf');
  
} */

body {
  font-family: 'MadaniArabic', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
  color: #ffffff;
  direction: rtl;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: unset;
}

.container {
  max-width: 140rem;
  width: min(100% - 5rem);
  margin: 0 auto;
}

/* Contact-----Page */

.header-content {
  width: min(100% - 5rem);
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-content-flex {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.header-navbar {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.header-nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 0;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.header-nav-link.active {
  color: #51a5b3;
  border-bottom: 1px solid #51a5b3;
}

.header-nav-link:hover {
  color: #51a5b3;
  border-bottom: 1px solid #51a5b3;
}

.header-navbar-mobile {
  position: absolute;
  top: 5rem;
  left: -19rem;
  z-index: 10;
  width: 25rem;
  padding: 15px 15px 20px;
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 22px 0 rgba(81, 164, 179, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header-navbar-mobile.active {
  display: flex;
}

.header-nav-link-mobile {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 5px 0;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.header-nav-link-mobile.active {
  color: #90eeff;
}

.header-nav-link-mobile:hover {
  color: #90eeff;
}

.header-nav-search-mobile {
  margin-top: 1.5rem;
  position: relative;
}

.header-nav-search-mobile > input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 1.8rem;
  padding: 5px 0;
  font-size: 1.8rem;
}

.header-nav-search-mobile > input::placeholder {
  color: #ffffff;
}

.header-nav-search-mobile > i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #ffffff;
  cursor: pointer;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.header-nav-vertical-seperator {
  display: block;
  height: 21px;
  border-right: 1px solid #ffffff;
}

.header-nav-search {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.header-nav-search > i:hover {
  color: #51a5b3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header-nav-search-input {
  width: 0;
  height: 3.7rem;
  border: 0;
  border-bottom: 1px solid #ffffff;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.header-nav-search-input.active {
  opacity: 1;
  display: flex;
  width: 20rem;
  padding: 0 5px;
}

.header-nav-search-input::placeholder {
  color: #ffffff;
}

.header-nav-hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  position: relative;
}

.hero {
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-contact {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/contact/contact-hero.png') top/cover no-repeat;
}

.hero-project {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/projects/project-hero.png') top/cover no-repeat;
}

.hero-about {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/about/about-hero.png') top/cover no-repeat;
}

.hero-career {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/careers/career-hero.png') top/cover no-repeat;
}

.hero-content {
  width: min(100% - 5rem);
  margin: 0 auto;
  position: relative;
}

.hero-content > img {
  position: absolute;
  top: 5rem;
  left: -25px;
}

.hero-socials {
  position: absolute;
  top: 50%;
  right: unset;
  left: 1rem;
  transform: translateY(-5%);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
}

.hero-socials-link {
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.hero-socials-link:hover {
  color: #51a5b3;
}

.hero-socials-vertical-seperator {
  display: block;
  height: 72px;
  border-right: 1px solid #ffffff;
}

.hero-title {
  font-size: 8rem;
  font-weight: 500;
}

.hero-text {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: normal;
}

.hire {
  padding-top: 15rem;
  position: relative;
}

.hire > img {
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: -1;
  width: calc(100% - 61%);
}

.hire-us {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.hire-us-form {
  width: 40%;
  position: relative;
}

.hire-us-form-title {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 8rem;
  color: #000000;
}

.hire-us-form-box-group {
  margin-bottom: 1.5rem;
  width: 83%;
}

.hire-us-form-box-group:last-child {
  margin-bottom: 0;
}

.hire-us-form-box-group > input,
.hire-us-form-box-group > select {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid #d6d6d8;
  font-size: 1.6rem;
  font-weight: 400;
  color: #717379;
}

.hire-us-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 5.5rem;
  box-shadow: 0 14px 30px rgba(81, 165, 179, 0.5);
  background-color: #51a5b3;
  color: #ffffff;
  margin-top: 3.5rem;
  border: 0;
  border-radius: 3.5rem;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
}

.hire-us-form-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
  border: 2px solid #51a5b3;
}

.hire-us-image {
  background-image: url('../assets/contact/hire-us-bg.png');
  background-size: cover;
  position: absolute;
  right: 0;
  width: calc(((100vw - 140rem) / 2) + (140rem * 0.6));
  padding: 120px 35px 120px 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80%;
}

.hire-us-image > img {
  height: 52rem;
  width: 16rem;
  position: absolute;
  bottom: -18rem;
  right: 5rem;
}

.hire-us-image-content {
  width: 83%;
}

.hire-us-image-title {
  font-size: 2.2rem;
  line-height: 4.5rem;
  font-weight: 700;
  width: 83%;
}

.hire-us-image-separator {
  display: block;
  height: 72px;
  width: 1px;
  background-color: #ffffff;
  margin: 2.5rem 0;
}

.hire-us-image-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.2rem;
  width: 83%;
}

.hire-contact {
  margin-top: 10rem;
  color: #000000;
}

.hire-contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8rem 2.5rem;
}

.hire-contact-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8rem 2.5rem;
  flex: 1;
}

.hire-contact-card {
  flex: 1 1 33.333%;
}

.hire-contact-card > img {
  margin-left: -2rem;
  height: 11rem;
}

.hire-contact-card-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

.hire-contact-card-text {
  margin-top: 0.5rem;
  font-weight: 300;
}

.hire-contact-card-link {
  display: block;
  margin-top: 0.5rem;
  color: #51a5b3;
  font-weight: 300;
  text-decoration: none;
}

.hire-contact-form {
  width: 45rem;
}

.hire-contact-form > img {
  margin-left: -2rem;
  height: 11rem;
}

.hire-contact-form-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

.hire-contact-form-group {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.hire-contact-form-group:last-child {
  margin-bottom: 0;
}

.hire-contact-form-group > input,
.hire-contact-form-group > textarea {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid #d6d6d8;
  font-size: 1.6rem;
  font-weight: 400;
  color: #717379;
  resize: vertical;
}

.hire-contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 5.5rem;
  box-shadow: 0 14px 30px rgba(81, 165, 179, 0.5);
  background-color: #51a5b3;
  color: #ffffff;
  margin-top: 3.5rem;
  border: 0;
  border-radius: 3.5rem;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
}

.hire-contact-form-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
  border: 2px solid #51a5b3;
}

.hire-map {
  margin-top: 5rem;
}

.hire-map > img {
  max-width: 65rem;
  width: 98%;
}

.hire-map-content > img {
  width: 100%;
  margin-top: -0.85rem;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.footer-content {
  width: min(100% - 5rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.footer-socials-link {
  color: #51a5b3;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.footer-socials-link:hover {
  color: #363636;
}

.footer-text {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  color: #959595;
}

/* Places-----Page */

.places {
  margin-top: 5rem;
  color: #000000;
}

.places-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}

.places-vertical-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
}

.places-text {
  font-size: 2.8rem;
  font-weight: 500;
  color: #262626;
  line-height: 7rem;
  margin-top: 2.5rem;
}

.places-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5rem;
}

.places-title > span {
  color: #51a5b3;
}

.places-right {
  margin-top: -52rem;
  margin-right: 2.5rem;
}

.places-right > img {
  width: 100%;
}

.projects {
  margin-top: 10rem;
  position: relative;
  color: #000000;
}

.projects > img {
  position: absolute;
  top: -2.5rem;
  left: 0;
  max-width: 80rem;
  width: 98%;
  z-index: -1;
}

.projects-content {
  width: min(100% - 5rem);
  margin: 0 auto;
}

.projects-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}

.projects-select-navigation {
  width: 30rem;
  height: 5.5rem;
  border: 1px solid #51a5b3;
  background-color: transparent;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
}

.projects-select-navigation > i {
  font-size: 2.4rem;
}

.projects-select-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3.5rem;
}

.projects-select-tab {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

.projects-select-tab:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #51a5b3;
}

.projects-select-tab.active {
  color: #51a5b3;
}

.tab-content {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.tab-content.active {
  height: auto;
  visibility: visible;
  overflow: visible;
}

.projects-show {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  margin-top: 6rem;
}

.project-show-large {
  width: 65%;
}

.project-show-small {
  width: 35%;
}

.project-show-image-content {
  position: relative;
  height: 75rem;
}

.project-show-image-content-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 45, 49, 0.4);
  padding: 25px;
}

.project-show-image-content-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  color: #ffffff;
}

.project-show-image-content-seperator {
  display: block;
  width: 1px;
  height: 7.5rem;
  background-color: #ffffff;
  margin-top: 5rem;
  margin-left: 1.35rem;
}

.project-show-image-content-link {
  position: absolute;
  bottom: 25px;
  font-size: 2.4rem;
  color: #ffffff;
}

.project-show-image-content > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-show-content {
  margin-top: 3.5rem;
}

.project-show-title {
  font-size: 3.6rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
}

.project-show-text {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #363636;
}

.project-show-text > i {
  color: #51a5b3;
}

.project-show-equal {
  flex: 1 1 33.33%;
}

.project-more-btn {
  width: 25rem;
  height: 5.5rem;
  border: 1px solid #51a5b3;
  background-color: transparent;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  margin: 0 auto;
  margin-top: 8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project-more-btn:hover {
  background-color: #51a5b3;
  color: #ffffff;
}

.projects-row-container {
  padding: 0px 50px 0px 50px;
}

.get-contact {
  margin-top: 10rem;
  background-color: #717379;
}

.get-contact-content {
  width: min(100% - 5rem);
  margin: 0 auto;
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.5rem;
}

.get-contact-left {
  width: 45%;
}

.get-contact-right {
  width: 55%;
}

.get-contact-title {
  font-size: 4.8rem;
  font-weight: 400;
}

.get-contact-text {
  font-size: 2.4rem;
  margin-top: 2.5rem;
  font-weight: 400;
}

.get-contact-btn {
  width: 25rem;
  height: 5.5rem;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  margin-top: 3.5rem;
}

.get-contact-btn > i {
  font-size: 2.2rem;
}

.get-contact-btn:hover {
   -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #51a5b3;
  color: #ffffff;
}

.get-contact-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem 3.5rem;
  border-top: 1px solid #ffffff;
  padding-top: 40px;
}

.get-contact-list-item {
  flex: 1 1 30%;
}

.get-contact-list-item-content {
  margin-top: 2.5rem;
}

.get-contact-list-item > i {
  font-size: 2.2rem;
  color: #51a5b3;
}

.get-contact-list-item-text {
  margin-top: 0.5rem;
}

/* About Us-----Page */
.about-design {
  margin-top: 8rem;
  color: #363636;
  position: relative;
}

.about-design-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem 8rem;
}

.about-design-img {
  width: 45rem;
}

.about-design-img > img {
  width: 100%;
}

.about-design-item {
  flex: 1;
}

.about-design-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 6.5rem;
  color: #363636;
}

.about-design-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin-top: 2.5rem;
}

.about-design-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4.5rem;
  margin-top: 2.5rem;
}

.about-design-btn {
  width: 43rem;
  height: 5.5rem;
  border: 1px solid #51a5b3;
  background-color: transparent;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  margin-top: 5rem;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.about-design-btn:hover {
  background-color: #51a5b3;
  color: #ffffff;
}

.about-design-btn > i {
  font-size: 2.2rem;
}

.about-mission {
  margin-top: 5rem;
}

.about-mission-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 6.5rem;
  color: #363636;
  text-align: center;
  position: relative;
  z-index: 2;
}

.about-mission > img {
  max-width: 78rem;
  width: 40%;
}

.about-mission-content {
  position: relative;
  z-index: 2;
  margin-top: -3rem;
  background-image: url('../assets/about/mission-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 200px 0;
}

.about-mission-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #ffffff;
}

.about-mission-text {
  font-size: 2.8rem;
  line-height: 4.4rem;
  margin-top: 3.5rem;
  width: calc(100% - 27rem);
  font-weight: 400;
}

.about-mission-content > img {
  position: absolute;
  bottom: -35.5rem;
  left: 5rem;
}

.about-mission-bottom-text {
  font-size: 2.2rem;
  line-height: 4.6rem;
  color: #51a5b3;
  margin-top: 7.5rem;
  width: calc(100% - 27rem);
}

.about-future {
  margin-top: 15rem;
  color: #363636;
  position: relative;
}

.about-future-content {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem 5rem;
}

.about-future-item {
  width: 56%;
}

.about-future-title {
  font-size: 4.8rem;
  font-weight: 500;
  color: #363636;
  line-height: normal;
}

.about-future-text {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 4rem;
  width: 90%;
}

.about-future-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin: 2.5rem 0;
}

.about-future-item-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.8rem;
  margin-bottom: 2.5rem;
}

.about-future-item-text:last-child {
  margin-bottom: 0;
}

.about-future-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.5rem 5rem;
}

.about-future-flex-vertical {
  width: 40%;
  margin-top: -42rem;
}

.about-future-flex-vertical > img {
  max-width: 60rem;
  margin: 1rem 2rem 0 0;
  width: 45%;
}

.about-future-flex-vertical-img {
  margin-top: -2.5rem;
  height: 85rem;
}

.about-future-flex-vertical-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-future-flex-horizontal {
  width: 60%;
}

.about-future-flex-horizontal {
  background-image: url('../assets/about/future-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-future-flex-horizontal-text {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  color: #ffffff;
}

.about-explore {
  margin-top: 8rem;
  color: #363636;
  position: relative;
}

.about-explore-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem 8rem;
}

.about-explore-img {
  width: 45rem;
}

.about-explore-img > img {
  width: 100%;
}

.about-explore-item {
  flex: 1;
}

.about-explore-title {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: #363636;
}

.about-explore-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin-top: 2.5rem;
}

.about-explore-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 2.5rem;
}

.awards {
  margin-top: 12rem;
  position: relative;
}

.awards > img {
  position: absolute;
  top: -8rem;
  left: 0;
  max-width: 97rem;
  width: 98%;
  z-index: -1;
}

.awards-content {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem 5rem;
}

.awards-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
  color: #363636;
  width: 25%;
}

.awards-list {
  flex: 1;
  color: #363636;
  overflow: hidden;
}

.awards-list-item {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.awards-list-item > span {
  width: 5rem;
  font-size: 1.8rem;
  color: #51a5b3;
}

.awards-list-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
}

.awards-list-title {
  font-size: 2.2rem;
  font-weight: 500;
}

.awards-list-text {
  font-size: 1.8rem;
  color: #51a5b3;
}

.no-border {
  border: 0;
}

.about-projects {
  margin-top: 15rem;
  color: #363636;
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.about-projects-left {
  width: 65%;
  height: 100%;
  position: relative;
}

.about-projects-left > img {
  position: absolute;
  top: -30rem;
  left: 5rem;
  width: 35rem;
}

.about-projects-left-image-content {
  position: relative;
  height: 55rem;
}

.about-projects-left-image-content > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-projects-left-image-content-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-projects-left-image-content-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  color: #ffffff;
}

.about-projects-left-image-content-seperator {
  display: block;
  width: 1px;
  height: 7.5rem;
  background-color: #ffffff;
  margin-top: 5rem;
  margin-right: 1.35rem;
}

.about-projects-left-image-content-link {
  position: absolute;
  bottom: 25px;
  font-size: 2.4rem;
  color: #ffffff;
}

.about-projects-left-content {
  width: min(100% - 5rem);
  margin: 0 auto;
  margin-top: 2.5rem;
}

.about-projects-left-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
}

.about-projects-left-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.2rem;
  margin-top: 2.5rem;
}

.about-projects-left-navigation {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}

.about-projects-left-navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 35rem;
  height: 5.5rem;
  box-shadow: 0 14px 30px rgba(81, 165, 179, 0.5);
  background-color: #51a5b3;
  color: #ffffff;
  border: 0;
  border-radius: 3.5rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
}

.about-projects-left-navigation-btn > i {
  font-size: 2.2rem;
}

.about-projects-left-navigation-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
  border: 2px solid #51a5b3;
}

.about-projects-left-navigation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  text-decoration: none;
}

.about-projects-left-navigation-text:hover {
  color: #262626;
  font-weight: 500;
}

.about-projects-right {
  width: 35%;
  position: relative;
}

.about-projects-right > img {
  position: absolute;
  top: -30rem;
  right: 5rem;
  width: 35rem;
}

.about-projects-right-content {
  height: 100%;
}

.about-projects-right-content > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Career --- Page */

.values {
  margin-top: 10rem;
  color: #363636;
  position: relative;
}

.values-content {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.values-image {
  background-image: url('../assets/careers/career-value.png');
  background-size: cover;
  position: absolute;
  left: 0;
  width: calc(((100vw - 140rem) / 2) + (140rem * 0.6));
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.values-image-text {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 6.8rem;
  color: #ffffff;
}

.values-item {
  width: 34%;
  margin-left: auto;
  padding-bottom: 60px;
}

.values-title {
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
}

.values-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin: 2.5rem 0;
}

.values-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4.6rem;
}

.banner {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/careers/career-banner.png') center/cover no-repeat;
  margin-top: 10rem;
  padding: 250px 0;
  position: relative;
}

.banner > img {
  position: absolute;
  top: -38rem;
  right: 5rem;
}

.banner-content {
  position: relative;
  z-index: 2;
}

.banner-title {
  font-size: 4.4rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 35rem;
  height: 5.5rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3.5rem;
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.banner-btn > i {
  font-size: 2.2rem;
}

.banner-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
}

.openings {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.openings > img {
  max-width: 150rem;
  width: 98%;
}

.openings-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem 10rem;
  margin-top: -14rem;
}

.openings-image {
  width: 34%;
}

.openings-items {
  flex: 1;
}

.openings-image-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10rem;
  text-align: right;
}

.openings-image > img {
  margin-left: auto;
}

.openings-list {
  margin-top: 8rem;
}

.openings-list:first-child {
  margin-top: 0;
}

.openings-list-item {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.openings-list-item > span {
  width: 10rem;
  font-size: 1.8rem;
  color: #717379;
}

.openings-list-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
}

.openings-list-name {
  font-size: 2.2rem;
  font-weight: 500;
  color: #51a5b3;
}

.openings-list-link {
  font-size: 1.8rem;
  color: #51a5b3;
  text-decoration: none;
}

.openings-list-link:hover {
  color: #262626;
  font-size: 2rem;
}

.openings-items-text {
  font-size: 3.2rem;
  line-height: 6.8rem;
  width: 98%;
  margin-top: 10rem;
}

.openings-items-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 32rem;
  height: 5.5rem;
  box-shadow: 0 14px 30px rgba(81, 165, 179, 0.5);
  background-color: #51a5b3;
  color: #ffffff;
  margin-top: 8rem;
  border: 0;
  border-radius: 3.5rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
}

.openings-items-btn > i {
  font-size: 2.2rem;
}

.openings-items-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
  border: 2px solid #51a5b3;
}

.internships {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.internships > img {
  max-width: 100rem;
  width: 98%;
}

.internships-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem 10rem;
}

.internships-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
  margin-top: -14rem;
  margin-bottom: 10rem;
}

.internships-subtitle {
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
}

.internships-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin: 2.5rem 0;
}

.internships-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.8rem;
}

.internships-item {
  width: 40%;
}

.internships-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-weight: 500;
  color: #51a5b3;
  text-decoration: none;
  margin-top: 2.5rem;
   
}

.internships-link:hover {
  font-weight: 500;
  color: #363636;
}

.internships-image {
  background-image: url('../assets/careers/internships-image.png');
  background-size: cover;
  position: absolute;
  right: 0;
  width: calc(((100vw - 140rem) / 2) + (140rem * 0.55));
  height: 50rem;
}

.internships-image > img {
  width: 100%;
}

.talent {
  margin-top: 16rem;
  position: relative;
}

.talent-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem 10rem;
}

.talent-bg {
  background-image: url('../assets/careers/talent-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 51rem);
  padding: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 72rem;
}

.talent-bg-text {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 6.8rem;
  text-align: center;
  color: #ffffff;
}

.talent-decorative {
  flex: 1;
}

.talent-decorative > img {
  position: absolute;
  top: 5rem;
  right: 2.5rem;
}

.growth {
  margin-top: 12rem;
  position: relative;
  color: #363636;
}

.growth-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5rem 10rem;
}

.growth-image {
  width: 55%;
}

.growth-image > img {
  width: 100%;
}

.gowth-item {
  flex: 1;
  margin-top: 5rem;
}

.gowth-item > img {
  position: absolute;
  right: 0;
  z-index: -1;
  width: calc(100% - 60%);
}

.growth-title {
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
}

.growth-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin: 2.5rem 0;
}

.grow-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.8rem;
  margin-top: 2.5rem;
}

.apply {
  margin-top: 10rem;
  position: relative;
  background-image: url('../assets/careers/apply.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
}

.apply-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  margin-bottom: 5rem;
}

.apply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 32rem;
  height: 5.5rem;
  box-shadow: 0 14px 30px rgba(81, 165, 179, 0.5);
  background-color: #51a5b3;
  color: #ffffff;
  border: 0;
  border-radius: 3.5rem;
  font-weight: 500;
  cursor: pointer;
   
  text-decoration: none;
  border: 2px solid transparent;
}

.apply-btn > i {
  font-size: 2.2rem;
}

.apply-btn:hover {
  background-color: #ffffff;
  color: #51a5b3;
  border: 2px solid #51a5b3;
}

.apply-btn:focus {
  outline: none;
  border: 2px solid #ffffff;
}

.margin-0 {
  margin: 0;
}

/* Home */

.hero-slider {
  position: relative;
}

.hero-slider .hero-socials {
  position: absolute;
  top: unset;
  bottom: 5rem;
  right: unset;
  left: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
  z-index: 50;
  align-content: flex-end;
}

.hero-swiper .swiper {
  width: 100%;
  height: 100%;
}

.hero-swiper .swiper-slide {
  display: flex;
  align-items: center;
  position: relative;
}

.swiper-slide > img {
  position: absolute;
  top: 30%;
  max-width: 82rem;
  width: 98%;
}

.hero-scroll-down {
  position: absolute;
  bottom: 2rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hero-scroll-down-text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0.85rem;
  color: #ffffff;
}

.hero-slider-1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('../assets/home/photo-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
}

.hero-slider-2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('../assets/home/photo-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
}

.hero-slider-3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('../assets/home/photo-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
}

.hero-slider-title {
  font-size: 8rem;
  font-weight: 700;
  line-height: 60%;
}

.hero-slider-text {
  font-size: 7rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
}

.hero-slider-small-text {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  line-height: normal;
  margin-top: 2rem;
}

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  top: unset;
  bottom: 6rem;
}

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-rtl .swiper-button-prev {
  right:  8rem;
  left: unset;
}

.hero-swiper .swiper-button-prev,
.hero-swiper .swiper-rtl .swiper-button-next {
  left: 5rem;
}

.hero-swiper .swiper-button-prev:after,
.hero-swiper .swiper-rtl .swiper-button-next:after {
  content: '\f30a';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ffffff;
}

.hero-swiper .swiper-button-next:after,
.hero-swiper .swiper-rtl .swiper-button-prev:after {
  content: '\f30b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ffffff;
}

/* Floating Animation */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.we {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.we-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.we-item {
  width: 60%;
}

.we-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
}

.we-list {
  margin-top: 5rem;
  list-style: none;
}

.we-list-item {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 300;
}

.we-list-item:first-child {
  margin-top: 0;
}

.we-tag {
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 8rem;
  text-transform: uppercase;
}

.we-tag > span {
  color: #51a5b3;
}

.we-image {
  flex: 1;
}

.identity {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.identity-content {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.identity-image {
  background-image: url('../assets/home/identity-photo.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  width: calc(((100vw - 140rem) / 2) + (140rem * 0.6));
  height: 100%;
}

.identity-image > img {
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}

.identity-item {
  width: 34%;
  margin-left: auto;
}

.identity-title {
  font-size: 4rem;
  font-weight: 300;
  line-height: normal;
}

.identity-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin: 2.5rem 0;
}

.identity-text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4.6rem;
}

.identity-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  text-decoration: none;
   
  margin-top: 2.5rem;
}

.identity-link:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-weight: 500;
  color: #363636;
}

.home-projects {
  position: relative;
  color: #363636;
  margin-top: 20rem;
}

.home-projects > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80rem;
  width: 98%;
  z-index: -1;
}

.home-projects-title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  position: relative;
  top: -10rem;
}

.home-projects-content {
  width: min(100% - 5rem);
  margin: 0 auto;
}

.home-projects-select {
  display: flex;
  justify-content: flex-end;
}

.home-projects-container {
  margin-top: 5rem;
}

.home-projects-card {
  position: relative;
}

.home-projects-card > img {
  width: 100%;
}

.home-projects-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 45, 49, 0.4);
  padding: 25px;
}

.home-projects-card-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  color: #ffffff;
}

.home-projects-card-seperator {
  display: block;
  width: 1px;
  height: 7.5rem;
  background-color: #51a5b3;
  margin-top: 5rem;
  margin-left: 1.35rem;
}

.home-projects-card-text {
  position: absolute;
  bottom: 5rem;
  font-size: 2.4rem;
  line-height: normal;
  color: #ffffff;
}

.projects-swiper {
  position: relative;
}

.home-projects-container .swiper-horizontal > .swiper-scrollbar,
.home-projects-container .swiper-scrollbar.swiper-scrollbar-horizontal {
  left: unset;
  right: 0;
  bottom: -50px;
  height: var(--swiper-scrollbar-size, 3px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 6.5%));
}

.home-projects-container .swiper-scrollbar-drag {
  background: #51a5b3;
}

.home-tab-content {
  display: none;
}

.home-tab-content.active {
  display: block;
}

.services {
  margin-top: 15rem;
  position: relative;
  color: #363636;
}

.services > img {
  max-width: 80rem;
  width: 45%;
  margin-left: auto;
}

.services-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.services-card {
  flex: 1 1 40rem;
}

.services-card-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
}

.services-card-title {
  font-size: 2.8rem;
  line-height: 4.8rem;
  font-weight: 700;
  margin-top: 2.5rem;
}

.services-card-text {
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 300;
  margin-top: 2.5rem;
}

.services-card-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  text-decoration: none;
   
  margin-top: 2.5rem;
}

.services-card-link:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-weight: 500;
  color: #363636;
}

.services-banner {
  background: linear-gradient(rgba(43, 45, 49, 0.2), rgba(43, 45, 49, 0.2)),
    url('../assets/home/services-banner.png') center/cover no-repeat;
  padding: 250px 0;
  position: relative;
  margin-top: -2.5rem;
}

.services-banner > img {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.services-banner-text {
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  text-align: center;
}

.work {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.work-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem 2.5rem;
}

.work-left-title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #51a5b3;
  text-transform: uppercase;
}

.work-right {
  align-self: flex-end;
}

.work-right-title {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.work-right-title > span {
  display: block;
  color: #51a5b3;
}

.work-right-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  text-decoration: none;
   
  margin-top: 2.5rem;
}

.work-right-link:hover {
  font-weight: 500;
  color: #363636;
}

.awards-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #51a5b3;
  text-decoration: none;
   
  margin-top: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.awards-link:hover {
  font-weight: 500;
  color: #363636;
}

.blogs {
  margin-top: 10rem;
  position: relative;
  color: #363636;
}

.blogs > img {
  max-width: 45rem;
  width: 98%;
  margin-top: -7rem;
}

.blogs-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
  column-gap: 1.5rem;
  margin-top: -1.5rem;
  color: #51a5b3;
  text-decoration: none;
   
}

.blogs-link:hover {
  font-weight: 500;
  color: #363636;
}

.blogs-content {
  position: relative;
  width: 90%;
  margin-left: auto;
}

.blogs-swiper {
  padding-bottom: 8rem;
}

.blogs-content .swiper-horizontal > .swiper-scrollbar,
.blogs-content .swiper-scrollbar.swiper-scrollbar-horizontal {
  left: unset;
  right: 0;
  bottom: 0;
  height: var(--swiper-scrollbar-size, 3px);
  width: 100%;
}

.blogs-content .swiper-scrollbar-drag {
  background: #51a5b3;
}

.blogs-card-media > img {
  height: 50rem;
  position: relative;
  object-fit: cover;
}

.blogs-card-media-text {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blogs-card-seperator {
  display: block;
  width: 1px;
  height: 7.2rem;
  background-color: #51a5b3;
  margin-left: 2.5rem;
  margin-top: -3.7rem;
}

.blogs-card-title {
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 500;
  margin-top: 1.5rem;
}

.blogs-card:hover .blogs-card-title {
  color: #51a5b3;
}
